<div class="landing" id="home">
    <section class="content">
        <h1 tabindex="0">CAR AUTO</h1>
        <p tabindex="0">
            Our brand was evaluated "the high and new technology enterprise" by the Science and Technology Department.
            We have invested all our resources in improving its technical formula every year, and gaining a number of unique
            environmental friendly product formula, including environmental friendly spray paints and cleaning agents.
            We add new variety of products each year. 
        </p>
        <a mat-raised-button color="primary" href="../../assets/Dinmo Brochure.pdf" download="Dinmo Brochure.pdf">
            <mat-icon aria-hidden="false" aria-label="Download Brochure">download</mat-icon>&nbsp;&nbsp;DOWNLOAD BROCHURE</a>
    </section>
    <section>
        <img src="../../assets/car.png" alt="car paint image" width="798" height="600">
    </section>
</div>
<div class="about">
    <section>
        <h1 tabindex="0">About Us</h1>
        <p tabindex="0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in nisl quis velit ullamcorper vulputate a a nibh. Proin quis tempus tellus. Quisque vel condimentum lectus. Donec pulvinar ornare nisl ac ultricies. Aenean purus diam, lacinia id tempor ultrices, volutpat et elit. Mauris dictum blandit ante, condimentum fringilla nunc tincidunt et. Donec vitae venenatis nunc. Nulla pellentesque porta enim id bibendum. Suspendisse elit odio, iaculis eu vulputate sed, vehicula eget ipsum. Curabitur porta posuere nulla quis pellentesque. Integer id metus risus. Praesent nec est purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ullamcorper tincidunt. 
        </p>
        <button tabindex="0" mat-stroked-button color="primary">Read More</button>
    </section>
    <img loading="lazy" tabindex="0" src="../../assets/products/all.PNG" width="1080" height="1080" alt="A bunch of spray paints">
    
</div>
<div class="desc">
    <article>
        <img tabindex="0" loading="lazy" src="../../assets/Durable-dg.png" width="100px" height="100px" alt="durable">
        <p tabindex="0">
            The most durable paints out there and last upto 3 years. 
        </p>
    </article>
    <article>
        <img tabindex="0" loading="lazy" src="../../assets/quick-dg.png" width="100px" height="100px" alt="quick dry">
        <p tabindex="0">
            Car Auto Spray Paints comes with quick dry technology dries in less than a minute saving your time.   
        </p>
    </article>
    <article>
        <img tabindex="0" loading="lazy" src="../../assets/Shine-dg.png" width="100px" height="100px" alt="shine">
        <p tabindex="0">
            Get a premium quality finish from the first coat. Paints are mixed with lacquer to ensure shinny finish.
        </p>
    </article>

</div>

<app-prod-slider></app-prod-slider>

<div class="testimonials">
    <h1 tabindex="0">Our Customers Speak</h1>
    <div class="reviews">
        <div *ngFor="let num of [0,1,2]">
            <img tabindex="0" loading="lazy" src="../../assets/Group 1.png" alt="Customer Feedback" width="498" height="498">
        </div>
    </div>
</div>

<div class="faqs">
    <h1 tabindex="0">FAQs</h1>
    <section>
        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        FAQ Question 1?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p tabindex="0">Answer for the question</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        FAQ Question 1?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p tabindex="0">Answer for the question</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        FAQ Question 1?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p tabindex="0">Answer for the question</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        FAQ Question 1?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p tabindex="0">Answer for the question</p>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
</div>