<div class="landing">
    <section class="content">
        <h1 tabindex="0">CAR AUTO</h1>
        <p tabindex="0">
            Our brand was evaluated "the high and new technology enterprise" by the Science and Technology Department.
            We have invested all our resources in improving its technical formula every year, and gaining a number of unique
            environmental friendly product formula, including environmental friendly spray paints and cleaning agents.
            We add new variety of products each year. 
        </p>
        <button mat-raised-button color="primary" (click)="openDialog()"><span>GET QUOTE</span></button>
    </section>
    <section>
        <img src="../../assets/car.png" alt="car paint image">
    </section>
</div>
<div class="desc">
    <article>
        <img src="../../assets/Durable-dg.png" width="100px" height="100px" alt="durable">
        <p>
            The most durable paints out there and last upto 3 years. 
        </p>
    </article>
    <article>
        <img src="../../assets/quick-dg.png" width="100px" height="100px" alt="quick dry">
        <p>
            Car Auto Spray Paints comes with quick dry technology dries in less than a minute saving your time.   
        </p>
    </article>
    <article>
        <img src="../../assets/Shine-dg.png" width="100px" height="100px" alt="shine">
        <p>
            Get a premium quality finish from the first coat. Paints are mixed with lacquer to ensure shinny finish.
        </p>
    </article>

</div>