@import "~src/utlity";

.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    .content {
        h1 {
            font-size: 48px;
        line-height: 2.5rem;
        font-weight: 500;
        background: linear-gradient(to left, $dg-primary, $dg-secondary);
        background-clip: text;
        color: transparent;
        }
    }
    p{
        text-align: justify;
    }
    button {
        height: 50px;
        // width: 200px;
    }
    img {
        height: 75vh;
    }
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    img {
        width: 500px;
        height: auto;
    }
    h1 {
        color: $dg-primary;
    }
    p{
        text-align:justify;
    }
}
.testimonials {
    padding-top: 10vh;
    h1 {
        color: $dg-primary;
    }
    .reviews {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // flex-direction: row;
        img {
            width: 400px;
            height: auto;
        }
    }
}

.desc {
    // padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        p {
            text-align: center;
        }
    }
}


@media screen and (max-width:768px) {
    .landing{
        flex-direction: column;
        img{
            width: 75vw;
            height: auto;
        }
    }

    .about {
        flex-direction: column;
        padding-bottom: 10vh;
        img {
            width: 300px;
            height: auto;
        }
    }

    .desc{
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        gap: 32px;
        article {
            flex-direction: row;
            justify-content: start;
            img {
                width: 50px;
                height: 50px;
            }
            p {
                text-align: justify;
            }
        }
        
    }

    .reviews {
        flex-direction: column;
        img {
            width: 300px !important;
            height: auto;
        }
    }
    
}