<div class="landing">
    <section class="content">
        <h1>CAR AUTO</h1>
        <p>
            Our brand was evaluated "the high and new technology enterprise" by the Science and Technology Department.
            We have invested all our resources in improving its technical formula every year, and gaining a number of unique
            environmental friendly product formula, including environmental friendly spray paints and cleaning agents.
            We add new variety of products each year. 
        </p>
        <button mat-raised-button color="primary" (click)="openDialog()"><span>GET QUOTE</span></button>
    </section>
    <section>
        <img src="../../assets/car.jpg" alt="">
    </section>
</div>