<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [ngClass]= "{hidden: !(isHandset$ | async)}" position="end"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="accent" class="flex_nav">
      <span>Menu</span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar" [ngClass]="{flex_nav: (isHandset$ | async)}">
      
      <div class="brand" tabindex="0">
        <img src="../assets/DINMO LOGO.png"  width="50px" alt="">
        <a tabindex="-1" href="#">Dinmo <span>Global</span></a>
      </div>
      <div class="nav-links" [ngClass]="{hidden: (isHandset$ | async)}">
        <a href="#">OUR PRODUCTS</a>
        <a href="#">ABOUT US</a>
        <a href="#">CONTACT US</a>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main class="p-5">
      <app-landing></app-landing>
    </main>
    <footer>
      <div class="nav-links" >
        <a style="color: whitesmoke;" href="#">OUR PRODUCTS</a>|
        <a style="color: whitesmoke;" href="#">ABOUT US</a>|
        <a style="color: whitesmoke;"href="#">CONTACT US</a>
      </div>
     <p>
      © Dinmo Global Pvt Ltd. All rights reserved.
      Developed by @siddhant-dev
     </p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

