.circle {
    display: block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.colors {
    display: grid;
    justify-items: center;
    align-items: center;
    .color-desc {
        text-align: center;
    }
}